In [4]:
import pandas as pd
import os
import numpy as np
import prophet as Prophet
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
df = pd.read_csv("bangkok-air-quality.csv")

In [24]:
df

            date  pm25  pm10   o3  no2  so2   co
0       2024/7/1    46    23    7    1
1       2024/7/2    54    23    7
2       2024/7/3    56    23    9
3       2024/7/4    59    17    1
4       2024/7/5    43    31    6
...          ...   ...   ...  ...  ...  ...  ...
3838   2015/3/15               23   13    3    9
3839  2014/11/30               40   36    4   11
3840  2013/12/31               68   33    3    7
3841   2014/1/26               54   53    6   18
3842    2016/1/1                    23         8

[3843 rows x 7 columns]