In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
df = pd.read_csv('dengueraw.csv')

In [16]:
df.dropna(inplace=True)

In [18]:
df

,Reporting areas,Total_cases,Total_death,Jan_case,Jan_death,Feb_case,Feb_death,Mar_case,Mar_death,April_case,...,Aug_case,Aug_death,Sep_case,Sep_death,Oct_case,Oct_death,Nov_case,Nov_death,Dec_case,Dec_death
0,All_region,44877.0,21.0,3346.0,0.0,2617.0,2.0,3017.0,1.0,3483.0,...,5119.0,3.0,3728.0,0.0,3233.0,1.0,2833.0,3.0,1228.0,2.0
1,North Region,7209.0,2.0,251.0,0.0,219.0,0.0,342.0,0.0,407.0,...,1116.0,0.0,726.0,0.0,607.0,0.0,385.0,0.0,133.0,0.0
2,Zone: 1,2483.0,0.0,25.0,0.0,29.0,0.0,32.0,0.0,56.0,...,484.0,0.0,225.0,0.0,149.0,0.0,82.0,0.0,24.0,0.0
3,Chiang Mai,1193.0,0.0,4.0,0.0,8.0,0.0,10.0,0.0,19.0,...,251.0,0.0,121.0,0.0,94.0,0.0,38.0,0.0,9.0,0.0
4,Chiang Rai,265.0,0.0,0.0,0.0,1.0,0.0,3.0,0.0,3.0,...,50.0,0.0,21.0,0.0,9.0,0.0,6.0,0.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Pattani,538.0,0.0,119.0,0.0,57.0,0.0,26.0,0.0,17.0,...,58.0,0.0,44.0,0.0,24.0,0.0,21.0,0.0,7.0,0.0
96,Yala,345.0,0.0,59.0,0.0,22.0,0.0,16.0,0.0,8.0,...,38.0,0.0,36.0,0.0,22.0,0.0,31.0,0.0,21.0,0.0
97,Zone: 19,1403.0,1.0,169.0,0.0,116.0,0.0,74.0,0.0,56.0,...,160.0,0.0,131.0,0.0,118.0,0.0,99.0,0.0,53.0,1.0
98,Satun,56.0,0.0,2.0,0.0,4.0,0.0,2.0,0.0,2.0,...,7.0,0.0,3.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
99,Songkhla,1347.0,1.0,167.0,0.0,112.0,0.0,72.0,0.0,54.0,...,153.0,0.0,128.0,0.0,118.0,0.0,94.0,0.0,53.0,1.0